/* UNIVERSAL */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html::-webkit-scrollbar {
	display: none;
}

body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	margin: 1rem 5rem 0;
	color: gray;
}

/* -------------------------------------------------------------------------- */

/* EMAIL BOX COMPONENT */
.container {
	margin-top: 2px;
	border: 1px solid #000;
	padding: 0;
}

hr {
	background: rgb(192, 190, 190);
	height: 0.03rem;
	margin: 0.3rem 0 1rem;
}

/* -------------------------------------------------------------------------- */

/* EMAIL HEADER COMPONENT*/

.boxes {
	display: flex;
	justify-content: space-between;
	margin: 0 0.5rem;
}

.box-one {
	display: flex;
}

.icons {
	background: rgb(228, 225, 225);
	margin: 0 0.2rem;
	padding: 0.1rem 0.4rem;
	border-radius: 0.2rem;
}

.boxes label {
	font-size: 0.9rem;
}

/* -------------------------------------------------------------------------- */

/* EMAIL BODY COMPONENT */
.email-body {
	display: flex;
	justify-content: space-between;
	/* margin: 0 0.5rem; */
}

.email-body {
	color: gray;
}

.email-nav:hover {
	background: rgb(240, 173, 173);
}
